In [1]:
# Declaring path variables to make Basemap work in jupyter hub. Make sure that the conda environment path matches yours
import os
os.environ['PATH'] = '/home/jovyan/my-conda-envs/qiime2-2019.1/bin:' + os.environ['PATH']
os.environ['PROJ_LIB'] = '/home/jovyan/my-conda-envs/qiime2-2019.1/share/proj'

# General Tool Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
from mpl_toolkits.basemap import Basemap
import biota
import biota.plot as bpl
import collections
import matplotlib.patches as patches
from matplotlib.patches import Rectangle
import math
import pickle 

import lasio



%matplotlib inline

In [2]:
#Read in Excel Of Production Data
filename = 'Foraker 1207 Section 11 Lift Dates and Production July.xlsx'
xls = pd.ExcelFile(filename)

#Calculate number of wells (sheets) minus Legend, return wellnames
len(xls.sheet_names)-1
wellnames = xls.sheet_names
del wellnames[0]

import datetime
d = datetime.datetime.today()
currentdate = d.strftime('%d-%m-%Y')

In [3]:
#Define flowback file names
flowbackfiles = ['Foraker 1SMH.xlsm','Foraker 2UMH.xlsm','Foraker 3WH.xlsm','Foraker 4LMH.xlsm','Foraker 5WH.xlsm','Foraker 6UMH.xlsm'\
                 ,'Foraker 7SMH.xlsm','Foraker 8UMH.xlsm','Foraker 9LMH.xlsm','Foraker 10UMH.xlsm','Foraker 11SMH.xlsm']

In [4]:
wellnames

['Foraker 1207 #1SMH-11',
 'Foraker 1207 #2UMH-11',
 'Foraker 1207 #3WH-11',
 'Foraker 1207 #4LMH-11',
 'Foraker 1207 #5WH-11',
 'Foraker 1207 #6UMH-11',
 'Foraker 1207 #7SMH-11',
 'Foraker 1207 #8UMH-11',
 'Foraker 1207 #9LMH-11',
 'Foraker 1207 #10MUH-11',
 'Foraker 1207 #11SMH-11']

In [19]:
#Loop through sheets and create df for each
#Create dictionary of dataframes for each well, map choke values to prod dates in well df
filename = 'Foraker 1207 Section 11 Lift Dates and Production July.xlsx'
dfs = {}
newdfs = {}
for well in wellnames:
    wellsheet = well
    dfs[well] = pd.read_excel(filename, sheet_name=wellsheet)
    #dfs[well]['Choke'] = dfs[well]['PERIOD'].map(chokes[well])
    newdfs[well] = dfs[well][['LEASE', 'PERIOD', 'GROSS OIL','GROSS GAS','GROSS WTR']]
    #   'GROSS GAS']
    #dfs[well].to_pickle("./JulyData/{}.pkl".format(well))

In [14]:
fifi = dfs['Foraker 1207 #8UMH-11']

In [13]:
dfs['Foraker 1207 #8UMH-11'].columns

Index(['LEASE', 'PERIOD', 'TP', 'CP', 'BH', 'GROSS OIL', 'GROSS WTR',
       'GROSS GAS', 'GROSS BOE', 'GROSS NGL', 'WI_BPO', 'NRI_OIL_BPO',
       'NET OIL', 'NET WTR', 'NET GAS', 'NET BOE', 'Downtime', 'Lift',
       'Prod Date', 'New Lift Date'],
      dtype='object')

In [20]:
newdfs['Foraker 1207 #8UMH-11'].head()

                  LEASE     PERIOD  GROSS OIL  GROSS GAS  GROSS WTR
0  FORAKER 1207 8UMH-11 2019-04-05     424.68        0.0        0.0
1  FORAKER 1207 8UMH-11 2019-04-06     951.55      465.0      402.0
2  FORAKER 1207 8UMH-11 2019-04-07    1220.15     1519.0     1035.0
3  FORAKER 1207 8UMH-11 2019-04-08    1447.05     1830.0     1234.0
4  FORAKER 1207 8UMH-11 2019-04-09    1367.30     1993.0     1220.0

In [21]:
#Read in Excel Of Production Data
filename = 'Foraker Production 10-14 Check v2.xlsx'
xls = pd.ExcelFile(filename)

#Calculate number of wells (sheets) minus Legend, return wellnames
len(xls.sheet_names)-1
checkwellnames = xls.sheet_names
del wellnames[0]

In [25]:
checkwellnames

['FORAKER 1207 1SMH-11',
 'FORAKER 1207 2UMH-11',
 'FORAKER 1207 3WH-11',
 'FORAKER 1207 4LMH-11',
 'FORAKER 1207 5WH-11',
 'FORAKER 1207 6UMH-11',
 'FORAKER 1207 7SMH-11',
 'FORAKER 1207 8UMH-11',
 'FORAKER 1207 9LMH-11',
 'FORAKER 1207 10UMH-11',
 'FORAKER 1207 11SMH-11']

In [35]:
#Loop through sheets and create df for each
#Create dictionary of dataframes for each well, map choke values to prod dates in well df
filename = 'Foraker Production 10-14 Check v2.xlsx'
Bdfs = {}
checkdfs = {}
for well in checkwellnames:
    wellsheet = well
    Bdfs[well] = pd.read_excel(filename, sheet_name=wellsheet)
    #dfs[well]['Choke'] = dfs[well]['PERIOD'].map(chokes[well])
    checkdfs[well] = Bdfs[well][['LEASE', 'D_DATE', 'OIL','GAS']]
    #checkdfs[well].columns = {'LEASE','PERIOD','GROSS OIL','GROSS GAS'} 
    #   'GROSS GAS']
    #dfs[well].to_pickle("./JulyData/{}.pkl".format(well))

In [36]:
checkdfs['FORAKER 1207 9LMH-11'].head(10)

                  LEASE     D_DATE     OIL     GAS
0  FORAKER 1207 9LMH-11 2019-04-01    0.00     0.0
1  FORAKER 1207 9LMH-11 2019-04-02    0.00     0.0
2  FORAKER 1207 9LMH-11 2019-04-03    0.00     0.0
3  FORAKER 1207 9LMH-11 2019-04-04    0.00     0.0
4  FORAKER 1207 9LMH-11 2019-04-05    0.00     0.0
5  FORAKER 1207 9LMH-11 2019-04-06  327.41   114.0
6  FORAKER 1207 9LMH-11 2019-04-07  513.29   691.0
7  FORAKER 1207 9LMH-11 2019-04-08  611.07  1047.0
8  FORAKER 1207 9LMH-11 2019-04-09  781.05  1362.0
9  FORAKER 1207 9LMH-11 2019-04-10  911.47  1704.0

In [37]:
AllcheckData = pd.concat(checkdfs)

In [40]:
AllcheckData.to_csv('../Practice/CheckData.csv')

In [41]:
OriginalData = pd.concat(newdfs)
OriginalData.to_csv('../Practice/OriginalData.csv')

In [43]:
#combine both datasets
Datasets = [AllcheckData,OriginalData]
Alldata = pd.concat(Datasets)

/home/jovyan/my-conda-envs/qiime2-2019.1/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()