In [ ]:
import pandas as pd
import os
import datetime
import math
cd = os.getcwd()
import matplotlib.pyplot as plt
%matplotlib inline
 #import relevant datetime and plotting modules
from datetime import datetime
import matplotlib.dates as mdates
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
import matplotlib.ticker as ticker

In [13]:
os.path.abspath(os.path.dirname('daily_pressure.csv'))
pres = pd.read_csv('../Jordan/daily_pressure.csv')

In [14]:
pres.head()

              Date  Value
0  12/4/2018 10:56   3574
1  12/4/2018 11:26   3572
2  12/4/2018 11:56   3569
3  12/4/2018 12:26   3567
4  12/4/2018 12:56   3565

In [18]:
pres['Date'] = pres['Date'].apply(lambda x: datetime.strptime(x,'%m/%d/%Y %H:%M').strftime("%Y-%m-%d"))
pres.head()
#pres['Date']

         Date  Value
0  2018-12-04   3574
1  2018-12-04   3572
2  2018-12-04   3569
3  2018-12-04   3567
4  2018-12-04   3565

In [64]:
daily_pres = pres.groupby('Date').mean().reset_index().copy()
daily_pres['Value'] = round(daily_pres['Value'])