In [2]:
import os

# ***IMPORTANT***
# Be sure to modify the 'qiime2-20XX.X' to indicate the version of qiime you are using
os.environ['PATH'] = '/home/jovyan/my-conda-envs/qiime2-2019.1/bin:' + os.environ['PATH']
os.environ['PROJ_LIB'] = '/home/jovyan/my-conda-envs/qiime2-2019.1/share/proj'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from IPython.core.display import display, HTML
from configparser import ConfigParser
import math

# SQL Query imports
from sqlalchemy import create_engine, engine

## Venn
#from matplotlib_venn import venn2, venn3, venn3_circles

import biota
from biota.database import get_pg_connection, get_data

from biota.util import assign_formations, rarefy
import biota.plot as bpl
from sourcetracker import gibbs


%matplotlib inline

In [4]:
df = pd.read_csv('LOO check.csv')

In [5]:
df.head()

,wellname,NEC,bakken,three.forks,Unknown
0,en.dobrovolny.a.155.94.1324h.3.st,0.000035,0.610915,0.293037,0.096013
1,en.dobrovolny.a.155.94.1324h.3.st,0.000037,0.603663,0.298584,0.097716
2,en.dobrovolny.a.155.94.1324h.3.st,0.000033,0.604383,0.296872,0.098712
3,en.eva.156.94.1621h.1,0.201522,0.456512,0.221690,0.120275
4,en.eva.156.94.1621h.1,0.205865,0.448290,0.225415,0.120430

In [6]:
avg = df.groupby('wellname')

In [7]:
dfave = df.groupby('wellname').mean()

In [8]:
dfave.head()

                                        NEC    bakken  three.forks   Unknown
wellname
en.dobrovolny.a.155.94.1324h.3.st  0.000035  0.606320     0.296164  0.097480
en.eva.156.94.1621h.1              0.203734  0.448897     0.225919  0.121449
en.hanson.156.94.3031h.2           0.001288  0.333852     0.465782  0.199078
en.hanson.a.155.94.0607h.3         0.000656  0.045861     0.539483  0.413999
en.hegland.155.94.0508h.2          0.000112  0.651510     0.117278  0.231100

In [9]:
dfave.to_csv('AvgFormations.csv')