In [1]:
# Declaring path variables to make Basemap work in jupyter hub. Make sure that the conda environment path matches yours
import os
os.environ['PATH'] = '/home/jovyan/my-conda-envs/qiime2-2019.1/bin:' + os.environ['PATH']
os.environ['PROJ_LIB'] = '/home/jovyan/my-conda-envs/qiime2-2019.1/share/proj'

In [2]:
# General Tool Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
from mpl_toolkits.basemap import Basemap
import biota
import biota.plot as bpl
import seaborn as sns
import collections
import matplotlib.patches as patches
from matplotlib.patches import Rectangle
import math

from biota.database import (get_samples,
                            get_sample_data,
                            get_pg_connection,
                            get_data)
from biota.util import (rarefy,
                        make_tree,
                        get_dms,
                        filter_dm_and_map,
                        get_tax_table)
from IPython.core.display import display, HTML
from pickle import dump, load

import lasio

# SQL Query imports
from sqlalchemy import create_engine, engine, inspect

from functools import partial

from ipyparallel import Client
from sourcetracker import gibbs

# Clustering imports
from scipy.spatial.distance import pdist
from scipy.cluster import hierarchy
from skbio.stats.ordination import pcoa

from biota.util import assign_formations


%matplotlib inline

In [ ]:
file_names = ['Silvertip A 1H.csv','Silvertip A 2H.csv','Silvertip A 3H.csv','Silvertip A 4H.csv','Silvertip A 5H.csv','Silvertip A 6H.csv','Silvertip A 7H.csv','Silvertip A 8H.csv',\
              'Silvertip A 9H.csv','Silvertip A 10H.csv','Silvertip B 2H.csv','Silvertip B 3H.csv']

In [ ]:
file_names

In [ ]:
for file in file_names:
    file = pd.read_csv(file_name)

In [3]:
H1_df = pd.read_csv('Silvertip A 1H.csv')

In [4]:
#Transpose Data
H1_df = H1_df.T

# Set col headers as row 1 values
H1_df.columns = H1_df.iloc[0]

#Rearrange Stages in DF
H1_df.insert(0, 'Stages', value = H1_df.index)

#Reset Index so Stage is a col
H1_df = H1_df.set_index('Well Name').copy()

In [13]:
H1_df.head()

Stage,Stages,Top Perf,Bottom Perf,Num Perfs,Plug Depth,TVD,Capacity Top Perf,Capacity Bottom Perf,Capacity Plug,Date,...,Total Proppant,100 Mesh,Delivered Total Prop,"Plexslick 957, gal","Chemplex 4-N-1, gal","Payzone 845, gal","Payzone 850, gal","Payzone 217, gal","Stim741 Gel, gal","15% HCl Acid, gal"
Well Name,,,,,,,,,,,,,,,,,,,,,
Silvertip A 1H,1,"23,230","23,392",24,"23,411","12,540",423.5,425.9,426.2,5/3/18,...,"443,960","443,960","443,960",511,7,99,38,99,30,"1,237"
Silvertip A 1H,2,"23,029","23,191",24,"23,210","12,534",420.5,422.9,423.2,5/4/18,...,"248,520","248,520","248,520",366,8,67,28,67,20,"1,264"
Silvertip A 1H,3,"22,829","22,990",24,"23,009","12,531",417.5,419.9,420.2,5/4/18,...,"502,480","502,480","502,480",570,7,111,42,111,20,"1,111"
Silvertip A 1H,4,"22,628","22,790",24,"22,809","12,523",414.5,416.9,417.2,5/5/18,...,"504,680","504,680","504,680",596,8,118,46,118,20,"1,251"
Silvertip A 1H,5,"22,427","22,589",32,"22,608","12,509",411.5,413.9,414.2,5/5/18,...,"496,340","496,340","496,340",503,7,102,38,102,20,"1,206"

In [ ]:
#drop 1st row
H1_df = H1_df.drop(H1_df.index[0]).copy()

In [8]:
H1_df.head()

Stage,Stages,Top Perf,Bottom Perf,Num Perfs,Plug Depth,TVD,Capacity Top Perf,Capacity Bottom Perf,Capacity Plug,Date,...,100 Mesh,Delivered Total Prop,"Plexslick 957, gal","Chemplex 4-N-1, gal","Payzone 845, gal","Payzone 850, gal","Payzone 217, gal","Stim741 Gel, gal","15% HCl Acid, gal",Well Name
Stage,Stage,Top Perf,Bottom Perf,Num Perfs,Plug Depth,TVD,Capacity Top Perf,Capacity Bottom Perf,Capacity Plug,Date,...,100 Mesh,Delivered Total Prop,"Plexslick 957, gal","Chemplex 4-N-1, gal","Payzone 845, gal","Payzone 850, gal","Payzone 217, gal","Stim741 Gel, gal","15% HCl Acid, gal",Well Name
1,1,"23,230","23,392",24,"23,411","12,540",423.5,425.9,426.2,5/3/18,...,"443,960","443,960",511,7,99,38,99,30,"1,237",Silvertip A 1H
2,2,"23,029","23,191",24,"23,210","12,534",420.5,422.9,423.2,5/4/18,...,"248,520","248,520",366,8,67,28,67,20,"1,264",Silvertip A 1H
3,3,"22,829","22,990",24,"23,009","12,531",417.5,419.9,420.2,5/4/18,...,"502,480","502,480",570,7,111,42,111,20,"1,111",Silvertip A 1H
4,4,"22,628","22,790",24,"22,809","12,523",414.5,416.9,417.2,5/5/18,...,"504,680","504,680",596,8,118,46,118,20,"1,251",Silvertip A 1H

In [ ]:
#drop 1st row
H1_df = H1_df.drop(H1_df.index[0])

In [ ]:
H1_df.head()

In [ ]:
#Reset Index so Stage is a col
H1_df.set_index('Well Name')

In [ ]:
# Set col headers as row 1 values
#H1_df.columns = H1_df.iloc[0]

In [ ]:
H1_df.head()

In [ ]:
#Rearrange Stages in DF
H1_df.insert(0, 'Stage', value = H1_df['Tempstages'])

In [ ]:
# Set col headers as row 1 values
H1_df.columns = H1_df.iloc[0]

In [ ]:
H1_df.head()

In [ ]:
ProdData_T['TempStage'] = ProdData_T.index

In [ ]:
ProdData_T.head()

In [ ]:
#Rearrange Stages in DF
ProdData_T.insert(0, 'Stages', value = ProdData_T['TempStage'])

In [ ]:
ProdData_T.head()

In [ ]:
# Set col headers as row 1 values
ProdData_T.columns = ProdData_T.iloc[0]

In [ ]:
ProdData_T.head()

In [ ]:
ProdData_T.rename(columns={'Stage': 'Stages'}, inplace=True)

In [ ]:
ProdData_T.head()

In [ ]:
#drop 1st row
ProdData_T = ProdData_T.reindex(ProdData_T.index.drop('Stage'))

In [ ]:
ProdData_T.head()

In [ ]:
#Add Wellname to DF
ProdData_T.insert(0, 'Well', '1H')

#drop 1st row
#ProdData_T = ProdData_T.reindex(ProdData_T.index.drop('Stage'))

In [ ]:
ProdData_T.head()

In [ ]:
print(ProdData_T.dtypes)

#ax = sns.lineplot(x="Payzone 850, gal", y="Average Rate, bpm",data = ProdData_T)

In [ ]:
ProdData_T = ProdData_T.drop(columns = "Well")

In [ ]:
ProdData_T.head()

In [ ]:
ProdData_T = ProdData_T.astype('float')

In [ ]:
ProdData_T.head()

In [ ]:
print(ProdData_T.dtypes)

In [ ]:
ProdData_T = ProdData_T.iloc[:, :-1].copy()

In [ ]:
x = ProdData_T["TVD, ft"]
y = ProdData_T["Average Rate, bpm"]

z = ProdData_T["Stages"]

In [ ]:

ax = sns.lineplot(ProdData_T['Stages'], ProdData_T['Average Rate, bpm'])

In [ ]:
#drop 1st row
ProdData_T = ProdData_T.reindex(ProdData_T.index.drop('Stage'))

In [ ]:
Pro

In [ ]:
# Set col headers as row 1 values
#ProdData_T.columns = ProdData_T.iloc[0]

#drop 1st row
#ProdData_T = ProdData_T.reindex(ProdData_T.index.drop('Stage'))

In [ ]:
#Add Wellname to DF
#ProdData_T.insert(0, 'Well', '1H')

In [ ]:
#ProdData_T

In [ ]:
#ProdData_T.reset_index()
#ProdData_T["Stage"]

ax = sns.lineplot(x="Stage", y="Average Rate, bpm", data=ProdData_T)